* {
    font-family: 'Roboto', sans-serif;
  }
  
body {
    margin: auto;
}

/* HEADER */

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.headercontainer {
    background-color: #1f2937;
    margin: 0;
    height: 50px;
}

.header {
    justify-content: space-around;
    display: flex;
    padding: 10px;
}

.hlogo {
    color: #f9faf8;
    font-weight: 600;
    font-size: 24px;
}

/* END HEADER */
/* HERO SECTION */

.herotext button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    color: #e5e7eb;
    font-weight: 600;
    max-width: 100px;
}

img {
    height: 250px;
    width: 500px;
}

.herocontainer {
    background-color: #1f2937;
    height: 450px;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
}

.herocontent {
    display: flex;
    gap: 10px;
}

.herotext {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.pic {
    display: flex;
    align-items: center;
}

.hmain {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.hsub {
    color: #e5e7eb;
    font-size: 18px;
    max-width: 540px;
    padding: 10px;
    padding-left: 0;
}

/* END HERO */
/* INFO SECTION */

.information { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.itext {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.squares {
    display: flex;
    max-width: 650px;
    gap: 5px;
    padding: 40px;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bluebox {
    border: 3px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.infotext {
    text-align: center;
    color: #e5e7eb;
    padding-top: 10px;
}

/* END INFO SECTION */
/* START QUOTE */

.quotecontainer {
    display: flex;
    background-color: #e5e7eb;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 600px;
    align-items: center;
}

.quotetext {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.authorcontainer {
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
    font-weight: 900;
}

/* END QUOTE */
/* START CALL TO ACTION */

.callcontainer {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callborder {
    width: 650px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius:12px;
}

.callcontent {
    padding: 10px;
}

.callborder button {
    font-weight: 600;
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: #e5e7eb;
    border-color: #e5e7eb;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

.boldtext {
    font-weight: 900px;
    color: #e5e7eb;
    font-size: 18px;
}

.othertext {
    color: #e5e7eb;
    font-weight: 100px;
    font-size: 12px;
}

/* END ACTION */
/* START FOOTER */

.footercontainer {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    font-size: 18px;
    color:#e5e7eb;
}