* {
    font-family: 'Roboto', sans-serif;
  }
  
body {
    margin: auto;
}

/* HEADER */

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.headercontainer {
    background-color: #1f2937;
    margin: 0;
    height: 50px;
}

.header {
    justify-content: space-around;
    display: flex;
    padding: 10px;
}

.hlogo {
    color: #f9faf8;
    font-weight: 600;
    font-size: 24px;
}

/* END HEADER */
/* HERO SECTION */

button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    color: #e5e7eb;
    font-weight: 600;
    max-width: 100px;
}

img {
    height: 250px;
    width: 500px;
}

.herocontainer {
    background-color: #1f2937;
    height: 450px;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
}

.herocontent {
    display: flex;
    gap: 10px;
}

.herotext {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.pic {
    display: flex;
    align-items: center;
}

.hmain {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.hsub {
    color: #e5e7eb;
    font-size: 18px;
    max-width: 540px;
    padding: 10px;
    padding-left: 0;
}

/* END HERO */
/* INFO SECTION */

.information { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itext {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 40px;
    padding-bottom: 0;
}

.squares {
    display: flex;
    max-width: 650px;
    gap: 5px;
    padding: 40px;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bluebox {
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.infotext {
    text-align: center;
    padding-top: 10px;
}